/* ----------------------------
   STYLE GÉNÉRAL
----------------------------- */
:root {
  --colorbackground: #1a3262;
  --colorbackgroundbody: #05101a;
  --colorbackgroundcontainer: #08131d;
  --colortitle: #e0e92f;
  --colorparagraphe: #d4e784;
  --colorunderline: #f9dc00;
  --colorunderlineover: #05ccf8;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  /* background-color: #000000; */
  color: #eee3e3;
  background-color: var(--colorbackgroundbody);
}

/*----------------------------
Animation du body 
----------------------------*/

html {
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* body {
  transition: background-color 0.5s ease, color 0.5s ease;
} */

.main,
.aside,
.navbar,
.footer,
.header {
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}

body {
  opacity: 1;
  transition: opacity 0.5s ease;
}

body.fade-out {
  opacity: 0;
}

/* -----------------------------
   POLICES
----------------------------- */
/* Polices pour les titres */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sigmar One", cursive !important;
  /* font-family: "Arial", sans-serif; */
  text-shadow: 0 0 8px #1e1d17;
  color: var(--colortitle);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600; /* Semi-bold */
}

h4 {
  font-size: 1.5rem;
  font-weight: 600; /* Semi-bold */
}

h5 {
  font-size: 1.25rem;
  font-weight: normal;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
}

/* Polices pour le paragraphe */
p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6;
  color: var(--colorparagraphe);
  /* font-family: "Verdana", sans-serif; */
}

/* Polices pour les liens */
a {
  font-size: 1rem;
  font-weight: normal;
  color: var(--colorunderline);
  text-decoration: none; /* Suppression du soulignement */
}

a:hover {
  color: var(--colorunderlineover);
  text-decoration: underline; /* Soulignement au survol */
}

/* Polices pour les listes */
li {
  font-size: 1rem;
  color: var(--colorparagraphe);
  /* font-family: "Tahoma", sans-serif; */
}

ul {
  padding-left: 20px; /* Indentation des listes */
  list-style-type: disc; /* Style des puces */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------
   CONTENEUR PRINCIPAL  
----------------------------- */

.container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Ajustez l'espacement entre les éléments ici */
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 5px;
  /* background-color: blue; */
  background-color: var(--colorbackgroundcontainer);
  max-width: 80%;
  padding: 1rem;
  word-wrap: break-word;
}

.header,
.nav,
.footer {
  width: 100%;
  background-color: var(--colorbackground);
  border-radius: 15px; /* Coins arrondis */
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  border-color: #eee3e3;
}

/* ----------------------------
   HEADER
----------------------------- */
.header img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}
.header {
  background-image: url(/images/bannieres/Conanthebarbarianheader1.png);
  background-size: contain; /* L'image couvre tout l'élément */
  background-repeat: no-repeat;
  background-position: center; /* Centre limage */
  height: 200px; /* Hauteur fixe pour le header */
  flex: auto;
  width: 100%; /* Largeur pleine */
  border-radius: 15px; /* Coins arrondis */
  overflow: hidden; /* Masque tout dépassement éventuel */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  background-color: #007bff;
  border: 3px solid #e8edf0;
  box-shadow: 3px 3px 20px #66adff;
}

/* ----------------------------
   NAVBAR
----------------------------- */
.navbar {
  width: 100%;
  /* height: 50px; Hauteur fixe pour la navbar */
  flex: auto;
  background-color: #143e78;
  padding: 10px;

  border: 3px solid #d8e0eb;
  box-shadow: 0 0 15px #33b8ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  border-radius: 15px;
  text-align: center;

  display: flex; /* Ajouté pour afficher les liens horizontalement */
  /*justify-content: center; Centrerleslienshorizontalement */
  justify-content: space-between;
  gap: 20px; /* Espacement entre les liens */
  margin: auto; /* Important */
  /* text-align: center; */
}

.navbar ul {
  list-style: none; /* Supprime les puces */
  margin: auto;
  padding: 0px;
  display: flex; /* Organisation horizontale */
  justify-content: space-around; /* Espacement uniforme entre les éléments */
  font-size: +1.5em;
}

.navbar li {
  margin: auto; /* Supprime le margin autour des items */
}

.navbar a {
  color: white; /* Couleur du texte */
  font-weight: bold;
  text-decoration: none; /* Supprime le soulignement */
  margin: 0 15px;

  font-size: 1em;
  /* padding: 0.5em 1em; Espacement interne pour les liens */
  transition: background-color 0.3s; /* Animation pour le changement de couleur */
}

.navbar a:hover {
  background-color: #575757; /* Couleur de fond au survol */
  color: #fff3c0;
  text-shadow: 0 0 8px #ffcc66;
}

/* ----------------------------
    CONTENEUR  (MAIN + ASIDE)
----------------------------- */

.main-aside {
  display: flex;
  flex: 3;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
  padding: 10px;
  width: 100%;
  border-radius: 15px; /* Coins arrondis */
  /*   background-color: var(--colorbackground); */
  background-color: color-mix(in srgb, var(--colorbackground) 50%, #0c99b6 50%);
}

/* ----------------------------
   CONTENEUR POSTS
----------------------------- */

.main {
  flex: 2; /* 2/3 de la largeur */
  background-color: var(--colorbackground);
  border-radius: 15px;
  padding: 10px;
}

/* ----------------------------
   IMAGES DANS LES ARTICLES (avec animation)
----------------------------- */
.postimg {
  width: 350px;
  height: auto;
  display: block;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Animation fade-in au chargement */
  opacity: 0;
  transform: scale(0.98);
  animation: fadeZoomIn 0.8s ease forwards;
}

/* Effet au survol */
.postimg:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Animation clé */
@keyframes fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ----------------------------
   ASIDE (COLONNE DROITE)
----------------------------- */

.aside {
  flex: 1; /* 1/3 de la largeur */
  background-color: var(--colorbackground);
  border-radius: 15px;
  padding: 10px;
}

.aside ul li a {
  text-decoration: none;
}

.aside ul li a:hover {
  text-decoration: underline;
}
.category-cloud {
  all: unset;
}
.category-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: inherit;
}

.archives {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: inherit;
}
/* ----------------------------
   COMPTEUR 
----------------------------- */
.compteur-container {
  display: flex;
  align-items: center;
  /*    gap: 10px;
  background: linear-gradient(to right, #fdfbfb, #ebedee);
  border: 1px solid #ccc;
  border-radius: 8px; 
  padding: 12px 15px; 
  margin-top: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;  */
  font-size: 0.95rem;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.6s ease forwards;
}

.compteur-icon {
  font-size: 1.4rem;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* -----------------------------
   Pagination
--------------------------*/
.pagination {
  margin-top: 20px;
  text-align: center;
}
.pagination a {
  display: inline-block;
  margin: 0 4px;
  padding: 6px 12px;
  text-decoration: none;
  background-color: #444;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.pagination a.active {
  background-color: #c00;
}

.pagination a:hover {
  background-color: #666;
}

.pagination .dots {
  display: inline-block;
  color: #999;
  padding: 6px 8px;
}
/* ----------------------------
   FOOTER.PHP
----------------------------- */
.footer {
  border-radius: var(--colorbackground);
  border-radius: 15px;
  border: 3px solid #6c90ea;
  box-shadow: 0 0 10px #d7c9a9;
  flex: 1;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

/* ----------------------------
   ARTICLE.PHP
----------------------------- */

.content {
  margin-top: 1em;
  font-size: 1.1em;
  line-height: 1.6;
  display: block;
  max-width: 100%;
}
.content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto; /* optionnel : centre les images dans le contenu */
}
.content {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.article_content {
  max-width: 100%;
  margin: 3px;
  background-color: var(--colorbackground);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.article_title {
  max-width: 100%;
  margin: 3px;
  background-color: var(--colorbackground);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  /* justify-content: center; */
  text-align: center;
  /* text-decoration: h1; */
}
.article-meta {
  display: flex;
  gap: 10px;
  margin: 3px;
  background-color: var(--colorbackground);
  font-size: 0.7rem;
  /* color: #bcc99d; */
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
/* article h3 {
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-top: 30px;
  font-size: 1.6em;
} */
/* 
article img {
  max-width: 100%;
  height: auto;

  background-size: cover; 
  background-position: center; 
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
} */

.ql-video {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
  margin: 1rem auto;
  border: none;
}

/* .ql-video {
  width: 100%;
  height: 360px;
  max-width: 800px;
  display: block;
  margin: auto;
  border: none;
} */

/* Optionnel : style vidéo quand elle est en plein écran */
video:-webkit-full-screen {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

video:-moz-full-screen {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

video:fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

/* article a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
} */

article a:hover {
  text-decoration: underline;
}

article p {
  margin-bottom: 1.2em;
}
/* ---------------------------
   LIGHTBOX
---------------------------- */
#lightbox-img {
  cursor: zoom-in;
  transition: 0.3s ease;
}

/* .lightbox-full {
  max-width: 95vw;
  max-height: 95vh;
  border: 3px solid #00ff33;
  box-shadow: 0 0 20px #ff6600;
  border-radius: 10px;
  background-color: #1a0000;
} */

#lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#lightbox-overlay img {
  max-width: 90%;
  max-height: 90%;
  border: 5px solid #0677a8;
  box-shadow: 0 0 20px #076fa7aa;
  border-radius: 10px;
  cursor: zoom-out;
}
/* ----------------------------
   CONTACT FORM
----------------------------- */

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 2em;
  background: #f4f4f4;
  border-radius: 8px;
}

.contact-form h2 {
  font-family: "Cinzel", serif;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid #999;
  border-radius: 5px;
}

.contact-form button {
  background: darkred;
  color: white;
  padding: 0.8em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.confirmation {
  text-align: center;
  color: green;
  font-weight: bold;
}

/* ----------------------------
   GALLERY
----------------------------- */

.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.gallery-item {
  flex: 1;
  width: 300px;
  height: 300px;
  background-color: #111;
  overflow: hidden;
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #c00;
}

.gallery-item-title {
  width: 100%;
  height: auto;
  background-color: #ff0000;
  text-align: center;
  padding: 2px;
  margin: 2px;
  /* object-fit: contain; */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0px;
  background-color: #f0f0f0;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  border-radius: 15px;
  vertical-align: middle;
}

.back-button {
  display: block;
  text-align: center;
  margin: 30px auto;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* ----------------------------
   VIEW_GALLERY
----------------------------- */

.iframe-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 10px;
  background-color: #111;
  border: 2px solid #a52a2a;
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 700px;
  border: none;
}

.back-gallery {
  display: block;
  text-align: center;
  margin: 30px;
  color: #ccc;
}

.back-gallery:hover {
  color: #fff;
}

/* ----------------------------
   TAGS 
----------------------------- */
.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

/* ----------------------------
   BOUTON CHANGE-THEME
------------------------------- */
#change-theme-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
}
